.name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.temp{
  font-size: 50px;
}
